<div class="row">
    <div class="col"></div>
    <div class="col-8">
        <div class="card signin-card">
            <div class="card-body">
                <img src="/assets/logo.png" alt="logo" class="img-fluid signin-img">
                <%= include ("./partials/messages"); %>
                <form action="/users/register" method="POST" class="signin-form">
                    <div class="form-group">
                        <input type="name" class="form-control" id="name" name="name" placeholder="Full Name"
                            value="<%= typeof name != 'undefined' ? name : '' %>" />
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                            value="<%= typeof email != 'undefined' ? email : '' %>" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                            value="<%= typeof email != 'undefined' ? password : '' %>" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password2" name="password2"
                            placeholder="Confirm Password"
                            value="<%= typeof email != 'undefined' ? password2 : '' %>" />
                    </div>
                    <button type="submit" class="btn btn-lg signin-btn">Create Account</button>
                </form>
            </div>
        </div>
        <a href="/users/login" class="create-account">Have an Account? Sign In</a>
    </div>
    <div class="col"></div>
</div>